#list
{
  font-size: large;color: rgb(58, 59, 59);font-style: bold;
}
.inputtext
{
 font-size: large;color: rgb(58, 59, 59); font-style: bold;
}
.button {
  background-color: #f0f0f0; /* Green */
  border: 2px solid black;
  color: rgb(32, 32, 32);
  padding: 15px 32px;
  text-align: center;
  font-size: 7px;
}
.center
{
  margin:4% 0% 0% 28%;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2
{
  background-color: darkgray;
  text-align: center;
}
.p
{
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
body
{
  padding: 5%;
}